# 默认激活的环境
spring:
  profiles:
    active: @spring.profiles.active@  # 使用Maven Profile变量

# 通用配置
server:
  port: 9991

# 配置mybatis实体和xml映射
mybatis:
  ## 映射xml
  mapper-locations: classpath:mapper/*.xml
  configuration:
    # 配置日志
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true

# 文件上传配置
file:
  upload:
    base-url: http://127.0.0.1:9991
    path: ${user.dir}/files/